.profile-container{   
    margin: 20px;
    background-color: black;
    border: 1px solid #ddd;
}

.profile-container .profile-nav{
    width: 25%;
    margin-right: 30px;
}
.profile-container .profile-nav .welcome-text{
    font-size: 12px;
    color: #969494;
}
.profile-container .profile-second{
    padding: 30px;
    display: flex;
}
.username-intro{
    display: flex;
    flex-direction: column;
}
.username-nav{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container .profile-info-container{
    padding-left: 30px;
    width: 75%;
    border-left: 1px solid #ddd;
}
.info-details{
    font-family: 'Garet-Book';
    padding-left: 20px;
}
.info-details .color-font{
    color: #969494;
}

.profile-container button{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #2c2e30;
    border-color: #2c2e30;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 12px 50px;
    font-size: 16px;
    border-radius: .45rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.profile-container button:hover{
    color: #fff;
    background-color: #6c6c6c;
    border-color: #6c6c6c;
}

.profile-container .order{
    font-family: 'Garet-Book';
    font-size: 15px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(149, 147, 147, 0.6);
    margin-bottom: 40px;
    overflow: hidden;
}
.profile-container .order .order-details{
    padding: 10px;
    min-width: 100px;
    background-color:#202223;
}
.profile-container .order .order-images{
    padding: 10px;
    display: flex;
    align-items: center;
}
.profile-container .order .order-images img{
    width: 80px;
    height: 80px;
}


